div.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
}

div.movie-title {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

form div.cast {
  position: relative;
}
form button.add-btn {
  position: absolute;
  right: 0px;
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
  top: 52%;
  right: 1px;
}

div.cast-item {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  justify-content: space-between;
}